In [24]:
import pandas as pd
import numpy as np

In [25]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\yvel marcelin\anaconda3\lib\site-packages (0.3.4)
Requirement already satisfied: pandas>0.24.0 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from pyreadstat) (0.25.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (1.17.2)
Requirement already satisfied: six>=1.5 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>0.24.0->pyreadstat) (1.15.0)

In [26]:
# save the url of the file on the notebook
url1 = "datasets/spa_dataset/HTFC7ASDSP/HTFC7AFLSP.SAS7BDAT"
#label columns named convention
url2 = "datasets/spa_mapping_columns.csv"
#read the data 
spa_df = df = pd.read_sas(url1)
# read the mapping index variable dataset
df_var_name = pd.read_csv(url2 )

Warning: column count mismatch (2 + 183 != 1871)

In [27]:
# save the dataset as csv file and read it after
spa_df =pd.read_csv('datasets/spa.csv')

In [28]:
# top 5 rows on the dataset
spa_df.drop(columns =['Unnamed: 0'],inplace =True)

In [29]:
spa_df.head()

,FACIL,REC_TYPE,DEPART,DEPARTN,VILCOM,VILCOMN,LOCALITY,FACTYPE,MGA,FTYPE,...,Q3180,Q3181,Q3182,Q3183,Q3184,Q3185,Q3200,Q3201,Q3201A,Q3201B
0,1,A,1,Ouest,11,Port-Au-Prince,1,7,3,1,...,1.0,1.0,5.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN
1,2,A,1,Ouest,11,Port-Au-Prince,1,3,1,1,...,4.0,2.0,5.0,NaN,NaN,2.0,2.0,NaN,NaN,NaN
2,3,A,1,Ouest,11,Port-Au-Prince,1,6,3,1,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN
3,4,A,1,Ouest,11,Port-Au-Prince,1,5,3,1,...,2.0,1.0,4.0,NaN,1.0,2.0,2.0,NaN,NaN,NaN
4,5,A,1,Ouest,11,Port-Au-Prince,1,6,2,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0

In [30]:
# dataset info 
spa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Columns: 1871 entries, FACIL to Q3201B
dtypes: float64(1827), int64(21), object(23)
memory usage: 14.7+ MB

In [31]:
# retrieve all columns need
colums = list(set(spa_df.columns))

In [32]:
df_var_name.head()

,GLOBAL_VAR_NAME,VAR_NAME,SAS_VAR_NAME,CAT_ID,CAT_DESC,Conditions,Ranking,Castelline,Morgan,Sylvie,Notes,Unnamed: 11,Unnamed: 12
0,Number of facitilies,Facility identification,FACIL,1,Capacity,NaN,Top-Tier,Top-Tier,Mid-Tier,Top-Tier,"Raw counts/per 10,000 population/counts by lan...",NaN,NaN
1,"Number of generalists, full-time",MEDECINS GENERALISTES,Q400A_01,1,Capacity,NaN,Top-Tier,Top-Tier,Mid-Tier,Top-Tier,NaN,NaN,NaN
2,"Number of specialists, full-time",MEDECINS SPECIALISTES,Q400A_02,1,Capacity,NaN,NaN,Mid-Tier,Low-Tier,Mid-Tier,NaN,NaN,NaN
3,"Number of lab technicians, full-time",TECHNICIEN DE LABORATOIRE,Q400A_03,1,Capacity,NaN,Top-Tier,Mid-Tier,Low-Tier,Top-Tier,Existence of at least 1 lab technician; Count ...,Deeper Dive,NaN
4,"Number of lab assistants, full-time",AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE),Q400A_04,1,Capacity,NaN,Top-Tier,Low-Tier,Low-Tier,Mid-Tier,NaN,NaN,NaN

In [33]:
# remove duplicates as possible
columns_need = list(set(df_var_name.SAS_VAR_NAME))

In [34]:
# selects colunms expected
colunms_selected = [x for x in colums if x in columns_need]

In [35]:
# display the number of columns
len(columns_need)

62

In [36]:
col24 =list(df_var_name.SAS_VAR_NAME)

In [37]:
cal12 =[x for x in col24 if x in ['Q700B_07',
'Q1210B_04',
'Q1314B_03',
'Q1421B_03',
'Q1421B_05',
'Q1622B_12',
'Q1622B_14',
'Q2331B_07',
'Q2331B_06'
]]

In [38]:
df_var_name[df_var_name.SAS_VAR_NAME.isin(cal12)]

,GLOBAL_VAR_NAME,VAR_NAME,SAS_VAR_NAME,CAT_ID,CAT_DESC,Conditions,Ranking,Castelline,Morgan,Sylvie,Notes,Unnamed: 11,Unnamed: 12
33,Thermometer,N-C diseases: Thermometer,Q2331B_06,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN
34,Stethoscope,Other equip:Stethoscope,Q1622B_12,4,Diagnostic Capacity,NaN,Top-Tier,Top-Tier,Low-Tier,Top-Tier,NaN,NaN,NaN
35,Stethoscope,General OPD area: Stethoscope available and fu...,Q700B_07,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN
36,Stethoscope,Sick child exam other equip:Stethoscope,Q1210B_04,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN
37,Stethoscope,Other equip:Stethoscope,Q1314B_03,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN
38,Stethoscope,ANC exam:Stethoscope,Q1421B_03,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN
39,Stethoscope,ANC exam:Fetal stethoscope,Q1421B_05,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN
40,Stethoscope,Other equip:Foetal stethoscope,Q1622B_12,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN
41,Stethoscope,Other equip:Stethoscope,Q1622B_14,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN
42,Stethoscope,N-C diseases: Stethoscope,Q2331B_07,4,Diagnostic Capacity,NaN,Top-Tier,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# display the number of columns selected
len(colunms_selected)

50

In [40]:
# show the difference
set(columns_need) -set(colunms_selected)

{'Q1314B_01',
 'Q1314B_02',
 'Q1314B_03',
 'Q1322B',
 'Q1322D',
 'Q1421B_03',
 'Q1421B_05',
 'Q710_03  ',
 'Q831B_01',
 'Q881B_01',
 'Q881B_02',
 'V343C'}

In [41]:
# build the mapping rename columns 
map_dict = {'Q1314B_01': 'Q1314B_1',
            'Q1314B_02': 'Q1314B_2',
            'Q450 - Q453': 'Q453',
            'Q710_03  ': 'Q710_03',
            'Q881B_01': 'Q881B_1',
            'Q881B_01':'Q881B_1',
            'Q881B_02':'Q881B_2',
            'Q831B_01': 'Q831B_1',
            '400A_01': 'Q400A_01',
             '400A_02': 'Q400A_02',
             '400A_03':  'Q400A_03',
             '400A_04': 'Q400A_04',
             '400A_08':  'Q400A_08',
             '400A_09':  'Q400A_09',
             'Q1314B_01': 'Q1314B_1',
            'Q1314B_02': 'Q1314B_2',
             'Q1314B_03': 'Q1314B_3',
            'Q881B_01': 'Q881B_1',
            'Q881B_02': 'Q881B_2',
            'Q1421B_03':'Q1421B_3',
            'Q1421B_05': 'Q1421B_5'
                        
           
           }

In [42]:
# renames columns
df_var_name.SAS_VAR_NAME =df_var_name.SAS_VAR_NAME.replace(map_dict)
df_var_name.head()

,GLOBAL_VAR_NAME,VAR_NAME,SAS_VAR_NAME,CAT_ID,CAT_DESC,Conditions,Ranking,Castelline,Morgan,Sylvie,Notes,Unnamed: 11,Unnamed: 12
0,Number of facitilies,Facility identification,FACIL,1,Capacity,NaN,Top-Tier,Top-Tier,Mid-Tier,Top-Tier,"Raw counts/per 10,000 population/counts by lan...",NaN,NaN
1,"Number of generalists, full-time",MEDECINS GENERALISTES,Q400A_01,1,Capacity,NaN,Top-Tier,Top-Tier,Mid-Tier,Top-Tier,NaN,NaN,NaN
2,"Number of specialists, full-time",MEDECINS SPECIALISTES,Q400A_02,1,Capacity,NaN,NaN,Mid-Tier,Low-Tier,Mid-Tier,NaN,NaN,NaN
3,"Number of lab technicians, full-time",TECHNICIEN DE LABORATOIRE,Q400A_03,1,Capacity,NaN,Top-Tier,Mid-Tier,Low-Tier,Top-Tier,Existence of at least 1 lab technician; Count ...,Deeper Dive,NaN
4,"Number of lab assistants, full-time",AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE),Q400A_04,1,Capacity,NaN,Top-Tier,Low-Tier,Low-Tier,Mid-Tier,NaN,NaN,NaN

In [43]:
# display the differences
columns_need = list(set(df_var_name.SAS_VAR_NAME))
colunms_selected = [x for x in colums if x in columns_need]
set(columns_need) -set(colunms_selected)

{'Q1322B', 'Q1322D', 'V343C'}

In [44]:
# selects columns needed before computation
spa_df_final = spa_df[['DEPARTN']+sorted(colunms_selected+['Q1322'])]

In [45]:
# displays coloumns needed
spa_df_final.head()

,DEPARTN,FACIL,Q110,Q112,Q1210B_03,Q1210B_04,Q1314B_1,Q1314B_2,Q1314B_3,Q1322,...,Q710_08,Q710_10,Q710_11,Q710_12,Q830,Q831B_1,Q832,Q880,Q881B_1,Q881B_2
0,Ouest,1,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,1.0,1.0,2.0,2.0,NaN,NaN
1,Ouest,2,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,2.0,NaN,2.0,2.0,NaN,NaN
2,Ouest,3,1.0,201.0,1.0,1.0,NaN,NaN,NaN,NaN,...,3.0,3.0,1.0,3.0,1.0,NaN,1.0,1.0,2.0,1.0
3,Ouest,4,2.0,7.0,2.0,2.0,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,1.0,1.0,1.0,2.0,NaN,NaN
4,Ouest,5,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,1.0,1.0,3.0,1.0,NaN,2.0,2.0,NaN,NaN

In [46]:
# convert columns to index
cols =  list(set(spa_df_final.columns))

In [47]:
# displays the cardinality of each column to understand values
my_dict =dict(var_name =[],sas_var_name =[] ,values_range=[])
for col in sorted(cols):
    val = df_var_name[df_var_name.SAS_VAR_NAME ==col]
    if(len(val) >0):
        my_dict['var_name'].append(val['VAR_NAME'].values[0])
        my_dict['sas_var_name'].append(col)
        my_dict['values_range'].append(sorted(spa_df_final[col].unique()))
        
        
df_review = pd.DataFrame(my_dict)
df_review['Aggfuc'] = np.nan

In [48]:
# shows top 5 rows
df_review.head()

,var_name,sas_var_name,values_range,Aggfuc
0,Facility identification,FACIL,"[1, 2, 3, 4, 5, 6, 8, 9, 12, 13, 15, 18, 19, 2...",NaN
1,Routine in-patient care or Overnight observation,Q110,"[1.0, 2.0, nan]",NaN
2,Number of overnight/in-patient beds,Q112,"[nan, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",NaN
3,Sick child exam other equip:Thermometer,Q1210B_03,"[1.0, nan, 2.0]",NaN
4,Sick child exam other equip:Stethoscope,Q1210B_04,"[1.0, nan, 2.0]",NaN

In [49]:
# saves the datset for review
df_review.to_csv('review.csv')

In [50]:
# selectd yes/no columns
yes_no_col = ['Q110',
'Q1210B_03',
'Q1210B_04',
'Q1421B_3',
'Q1421B_5',
'Q1622B_09',
'Q1622B_10',
'Q1622B_12',
'Q1622B_14',
'Q2331B_06',
'Q2331B_07',
'Q310',
'Q313',
'Q316',
'Q340',
'Q451',
'Q501B_04',
'Q503',
'Q607',
'Q700B_06',
'Q700B_07',
'Q700B_17',
'Q700B_19',
'Q830',
'Q832',
'Q880',


]
yes_no_col

['Q110',
 'Q1210B_03',
 'Q1210B_04',
 'Q1421B_3',
 'Q1421B_5',
 'Q1622B_09',
 'Q1622B_10',
 'Q1622B_12',
 'Q1622B_14',
 'Q2331B_06',
 'Q2331B_07',
 'Q310',
 'Q313',
 'Q316',
 'Q340',
 'Q451',
 'Q501B_04',
 'Q503',
 'Q607',
 'Q700B_06',
 'Q700B_07',
 'Q700B_17',
 'Q700B_19',
 'Q830',
 'Q832',
 'Q880']

In [51]:
# selects numerical columns
col_num = ['Q110','Q112','Q1314B_1','Q1314B_2',
           'Q1622B_09','Q1622B_12','Q310','Q313','Q316',
           'Q331','Q340','Q400AT','Q400A_01','Q400A_02',
           'Q400A_03','Q400A_08','Q400A_09','Q400A_12','Q400A_04','Q453']
col_num

['Q110',
 'Q112',
 'Q1314B_1',
 'Q1314B_2',
 'Q1622B_09',
 'Q1622B_12',
 'Q310',
 'Q313',
 'Q316',
 'Q331',
 'Q340',
 'Q400AT',
 'Q400A_01',
 'Q400A_02',
 'Q400A_03',
 'Q400A_08',
 'Q400A_09',
 'Q400A_12',
 'Q400A_04',
 'Q453']

In [52]:
# selects 1/2/3 answers columns
col_1_2_3 =['Q1314B_1',
'Q1314B_2',
'Q1314B_3',
'Q331',
'Q450',
'Q452',
'Q710_01',
'Q710_02',
'Q710_03',
'Q710_06',
'Q710_07',
'Q710_08',
'Q710_10',
'Q710_11',
'Q710_12',
'Q831B_1',
'Q881B_1',
'Q881B_2',
'Q700B_18'
]

col_1_2_3

['Q1314B_1',
 'Q1314B_2',
 'Q1314B_3',
 'Q331',
 'Q450',
 'Q452',
 'Q710_01',
 'Q710_02',
 'Q710_03',
 'Q710_06',
 'Q710_07',
 'Q710_08',
 'Q710_10',
 'Q710_11',
 'Q710_12',
 'Q831B_1',
 'Q881B_1',
 'Q881B_2',
 'Q700B_18']

In [53]:
# save non patterns colunms
auter_colunms = set(cols) -set(col_1_2_3 + yes_no_col +col_num)

In [54]:
auter_colunms

{'DEPARTN', 'FACIL', 'Q1322', 'Q600', 'Q601', 'Q620'}

In [55]:
# create the dict
map_columns = dict(sas_column_name =[],values=[])

In [56]:
# computes aggreation

In [57]:
map_dict = dict(SAS_VAR_NAME =[],departn = [],values =[])
for col in yes_no_col:
    val = spa_df_final[spa_df_final[col] ==1.0][[col,'DEPARTN','FACIL']]
    val[col]= col
    val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
    val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
    map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
    map_dict['departn'] += list(val['DEPARTN'])
    map_dict['values'] += list(val['count'])

In [58]:
for col in col_num:
    val = spa_df_final[[col,'DEPARTN']]
    val['SAS_VAR_NAME']= col
    val.rename(columns = {col: 'num'},inplace =True)
    val=val.groupby(['SAS_VAR_NAME','DEPARTN'])['num'].sum().to_frame().reset_index().rename(columns={0:'count'})
    map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
    map_dict['departn'] += list(val['DEPARTN'])
    map_dict['values'] += list(val['num'])

C:\Users\Yvel Marcelin\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Yvel Marcelin\anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [59]:
for col in col_1_2_3:
    val = spa_df_final[spa_df_final[col].isin([1.0])][[col,'DEPARTN','FACIL']]
    val[col]= col
    val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
    val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
    map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
    map_dict['departn'] += list(val['DEPARTN'])
    map_dict['values'] += list(val['count'])

In [60]:
col ='FACIL'
val = spa_df_final[['DEPARTN','FACIL']]
val['SAS_VAR_NAME']= col
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])

C:\Users\Yvel Marcelin\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [64]:


col ='Q600'
val = spa_df_final[spa_df_final[col].isin([2.0,3.0])][[col,'DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])

In [66]:
col ='Q601'
val = spa_df_final[spa_df_final[col].isin([2.0,3.0])][[col,'DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])

In [67]:
col = 'Q620'
val = spa_df_final[spa_df_final[col] !=61.0][[col,'DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])

In [69]:
col = 'Q1322'
val = spa_df_final[spa_df_final[col] =='D'][['DEPARTN','FACIL']]
col += 'D'
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

  SAS_VAR_NAME     DEPARTN  count
0       Q1322D  Grand'Anse      1
1       Q1322D        Nord      1
2       Q1322D  Nord-Ouest      1
3       Q1322D       Ouest      1
4       Q1322D     Sud-Est      1

In [70]:
col = 'Q1322'
val = spa_df_final[spa_df_final[col] =='B'][['DEPARTN','FACIL']]
col += 'B'
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

Empty DataFrame
Columns: [SAS_VAR_NAME, DEPARTN, count]
Index: []

In [77]:
df =pd.DataFrame(map_dict)
df.head()

  SAS_VAR_NAME     departn  values
0         Q110  Artibonite    24.0
1         Q110      Centre    13.0
2         Q110  Grand'Anse     9.0
3         Q110      Nippes     9.0
4         Q110        Nord    31.0

In [78]:
df = pd.merge(df_var_name,df,how='inner',on ='SAS_VAR_NAME')
df = df[df['Ranking'] == 'Top-Tier']

In [79]:
df2=pd.pivot_table(df,index =['CAT_DESC','GLOBAL_VAR_NAME' ,'VAR_NAME'],columns='departn',values ='values', aggfunc = np.sum,fill_value =0)

In [80]:
df2

departn                                                                                                                               Artibonite  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                                    124
                               Number of generalists, full-time                   MEDECINS GENERALISTES                                      102
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)                  23
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                                  125
                               Number of nurses, full-time                        INFERMIER                                                  395
                               Number of pharmacist, full-time                    PHARMACIEN                                                  14
                               Total full-time staff                              TOTAL FULL-TIME STAFF                                     2188
Diagnostic Capacity            Stethoscope                                        ANC exam:Fetal stethoscope                                  72
                                                                                  ANC exam:Stethoscope                                       114
                                                                                  General OPD area: Stethoscope available and fun...         120
                                                                                  N-C diseases: Stethoscope                                  120
                                                                                  Other equip:Foetal stethoscope                              52
                                                                                  Other equip:Stethoscope                                    181
                                                                                  Sick child exam other equip:Stethoscope                    119
                               Thermometer                                        General OPD area: Thermometer available and fun...         110
                                                                                  N-C diseases: Thermometer                                  108
                                                                                  Other equip:Thermometer                                     58
                                                                                  Other equip:Thermometer for low-body temperature             2
                                                                                  Sick child exam other equip:Thermometer                    109
                               X ray machine*                                     Equipment available:Digital X-ray not requiring...           3
                                                                                  Equipment available:X-ray machine+                           9
                                                                                  Performs diagnostic X-rays, ultrasound, compute...          11
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                           107
                               Improved water source                              Water onsite/within 500 meters                             202
                               Regular electricity                                Facility connected to central supply electricity           242
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                                      48
                                                                                  Disinfectant                                                85
                                                                                  Running water                                               74
                                                                                  Soap                                                        72
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation           242
                               Number of hospital beds                            Number of overnight/in-patient beds                        866
                               Oxygen-filled oxygen cylinders                     Filled oxygen cylinder available and functioning            12
                                                                                  Oxygen concentrators available and functioning               6
                                                                                  Oxygen distribution system available and functi...           3
                               Referral capacity-functional ambulance at facil... Available elsewhere from a nearby facility                  19
                                                                                  Fuel available                                              23
                                                                                  Functional ambulance at facility                            13
                                                                                  Observed                                                    13
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                                 109
                               Medical Masks                                      Medical masks                                               53

departn                                                                                                                               Centre  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                                 55
                               Number of generalists, full-time                   MEDECINS GENERALISTES                                   79
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)              16
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                               81
                               Number of nurses, full-time                        INFERMIER                                              141
                               Number of pharmacist, full-time                    PHARMACIEN                                              15
                               Total full-time staff                              TOTAL FULL-TIME STAFF                                 1087
Diagnostic Capacity            Stethoscope                                        ANC exam:Fetal stethoscope                              37
                                                                                  ANC exam:Stethoscope                                    46
                                                                                  General OPD area: Stethoscope available and fun...      51
                                                                                  N-C diseases: Stethoscope                               49
                                                                                  Other equip:Foetal stethoscope                          40
                                                                                  Other equip:Stethoscope                                 98
                                                                                  Sick child exam other equip:Stethoscope                 51
                               Thermometer                                        General OPD area: Thermometer available and fun...      49
                                                                                  N-C diseases: Thermometer                               47
                                                                                  Other equip:Thermometer                                 44
                                                                                  Other equip:Thermometer for low-body temperature         2
                                                                                  Sick child exam other equip:Thermometer                 46
                               X ray machine*                                     Equipment available:Digital X-ray not requiring...       4
                                                                                  Equipment available:X-ray machine+                       6
                                                                                  Performs diagnostic X-rays, ultrasound, compute...       8
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                        44
                               Improved water source                              Water onsite/within 500 meters                          66
                               Regular electricity                                Facility connected to central supply electricity       106
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                                  23
                                                                                  Disinfectant                                            33
                                                                                  Running water                                           35
                                                                                  Soap                                                    32
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation       106
                               Number of hospital beds                            Number of overnight/in-patient beds                    678
                               Oxygen-filled oxygen cylinders                     Filled oxygen cylinder available and functioning         9
                                                                                  Oxygen concentrators available and functioning           8
                                                                                  Oxygen distribution system available and functi...       4
                               Referral capacity-functional ambulance at facil... Available elsewhere from a nearby facility               9
                                                                                  Fuel available                                          17
                                                                                  Functional ambulance at facility                        11
                                                                                  Observed                                                11
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                              43
                               Medical Masks                                      Medical masks                                           23

departn                                                                                                                               Grand'Anse  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                                     53
                               Number of generalists, full-time                   MEDECINS GENERALISTES                                       37
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)                   1
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                                   48
                               Number of nurses, full-time                        INFERMIER                                                  159
                               Number of pharmacist, full-time                    PHARMACIEN                                                   2
                               Total full-time staff                              TOTAL FULL-TIME STAFF                                      729
Diagnostic Capacity            Stethoscope                                        ANC exam:Fetal stethoscope                                  36
                                                                                  ANC exam:Stethoscope                                        49
                                                                                  General OPD area: Stethoscope available and fun...          49
                                                                                  N-C diseases: Stethoscope                                   49
                                                                                  Other equip:Foetal stethoscope                              38
                                                                                  Other equip:Stethoscope                                    102
                                                                                  Sick child exam other equip:Stethoscope                     50
                               Thermometer                                        General OPD area: Thermometer available and fun...          48
                                                                                  N-C diseases: Thermometer                                   48
                                                                                  Other equip:Thermometer                                     36
                                                                                  Other equip:Thermometer for low-body temperature             3
                                                                                  Sick child exam other equip:Thermometer                     48
                               X ray machine*                                     Equipment available:Digital X-ray not requiring...           2
                                                                                  Equipment available:X-ray machine+                           4
                                                                                  Performs diagnostic X-rays, ultrasound, compute...           5
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                            49
                               Improved water source                              Water onsite/within 500 meters                              97
                               Regular electricity                                Facility connected to central supply electricity           106
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                                      32
                                                                                  Disinfectant                                                38
                                                                                  Running water                                               39
                                                                                  Soap                                                        35
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation           106
                               Number of hospital beds                            Number of overnight/in-patient beds                        265
                               Oxygen-filled oxygen cylinders                     Filled oxygen cylinder available and functioning             4
                                                                                  Oxygen concentrators available and functioning               2
                                                                                  Oxygen distribution system available and functi...           1
                               Referral capacity-functional ambulance at facil... Available elsewhere from a nearby facility                  12
                                                                                  Fuel available                                              14
                                                                                  Functional ambulance at facility                             5
                                                                                  Observed                                                     5
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                                  49
                               Medical Masks                                      Medical masks                                               28

departn                                                                                                                               Nippes  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                                 35
                               Number of generalists, full-time                   MEDECINS GENERALISTES                                   48
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)               5
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                               41
                               Number of nurses, full-time                        INFERMIER                                               82
                               Number of pharmacist, full-time                    PHARMACIEN                                               5
                               Total full-time staff                              TOTAL FULL-TIME STAFF                                  423
Diagnostic Capacity            Stethoscope                                        ANC exam:Fetal stethoscope                              20
                                                                                  ANC exam:Stethoscope                                    28
                                                                                  General OPD area: Stethoscope available and fun...      34
                                                                                  N-C diseases: Stethoscope                               34
                                                                                  Other equip:Foetal stethoscope                          24

In [81]:
df2.to_excel('outputs/COVID_19_RISK_ASSESSMENT2.xlsx')