In [423]:
import pandas as pd
import numpy as np

In [424]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\yvel marcelin\anaconda3\lib\site-packages (0.3.4)
Requirement already satisfied: pandas>0.24.0 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from pyreadstat) (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (1.17.2)
Requirement already satisfied: six>=1.5 in c:\users\yvel marcelin\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>0.24.0->pyreadstat) (1.15.0)

In [425]:
# save the url of the file on the notebook
url1 = "datasets/spa_dataset/HTFC7ASDSP/HTFC7AFLSP.SAS7BDAT"
#label columns named convention
url2 = "datasets/spa_mapping_columns.csv"
#read the data 
spa_df = df = pd.read_sas(url1)
# read the mapping index variable dataset
df_var_name = pd.read_csv(url2 )

Warning: column count mismatch (2 + 183 != 1871)

In [426]:
# save the dataset as csv file and read it after
spa_df =pd.read_csv('datasets/spa.csv')

In [427]:
# top 5 rows on the dataset
spa_df.drop(columns =['Unnamed: 0'],inplace =True)

In [428]:
spa_df.head()

,FACIL,REC_TYPE,DEPART,DEPARTN,VILCOM,VILCOMN,LOCALITY,FACTYPE,MGA,FTYPE,...,Q3180,Q3181,Q3182,Q3183,Q3184,Q3185,Q3200,Q3201,Q3201A,Q3201B
0,1,A,1,Ouest,11,Port-Au-Prince,1,7,3,1,...,1.0,1.0,5.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN
1,2,A,1,Ouest,11,Port-Au-Prince,1,3,1,1,...,4.0,2.0,5.0,NaN,NaN,2.0,2.0,NaN,NaN,NaN
2,3,A,1,Ouest,11,Port-Au-Prince,1,6,3,1,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN
3,4,A,1,Ouest,11,Port-Au-Prince,1,5,3,1,...,2.0,1.0,4.0,NaN,1.0,2.0,2.0,NaN,NaN,NaN
4,5,A,1,Ouest,11,Port-Au-Prince,1,6,2,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0

In [429]:
# dataset info 
spa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Columns: 1871 entries, FACIL to Q3201B
dtypes: float64(1827), int64(21), object(23)
memory usage: 14.7+ MB

In [430]:
# retrieve all columns need
colums = list(set(spa_df.columns))

In [431]:
df_var_name.head()

,GLOBAL_VAR_NAME,VAR_NAME,SAS_VAR_NAME,CAT_ID,CAT_DESC,Conditions,Ranking,Castelline,Morgan,Sylvie,Notes,Unnamed: 11,Unnamed: 12
0,Number of facitilies,Facility identification,FACIL,1,Capacity,NaN,Top-Tier,Top-Tier,Mid-Tier,Top-Tier,"Raw counts/per 10,000 population/counts by lan...",NaN,NaN
1,"Number of generalists, full-time",MEDECINS GENERALISTES,Q400A_01,1,Capacity,NaN,Top-Tier,Top-Tier,Mid-Tier,Top-Tier,NaN,NaN,NaN
2,"Number of specialists, full-time",MEDECINS SPECIALISTES,Q400A_02,1,Capacity,NaN,NaN,Mid-Tier,Low-Tier,Mid-Tier,NaN,NaN,NaN
3,"Number of lab technicians, full-time",TECHNICIEN DE LABORATOIRE,Q400A_03,1,Capacity,NaN,Top-Tier,Mid-Tier,Low-Tier,Top-Tier,Existence of at least 1 lab technician; Count ...,Deeper Dive,NaN
4,"Number of lab assistants, full-time",AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE),Q400A_04,1,Capacity,NaN,Top-Tier,Low-Tier,Low-Tier,Mid-Tier,NaN,NaN,NaN

In [432]:
# remove duplicates as possible
columns_need = list(set(df_var_name.SAS_VAR_NAME))

In [433]:
# selects colunms expected
colunms_selected = [x for x in colums if x in columns_need]

In [434]:
# display the number of columns
len(columns_need)

62

In [435]:
col24 =list(df_var_name.SAS_VAR_NAME)

In [436]:
# display the number of columns selected
len(colunms_selected)

50

In [437]:
# show the difference
set(columns_need) -set(colunms_selected)

{'Q1314B_01',
 'Q1314B_02',
 'Q1314B_03',
 'Q1322B',
 'Q1322D',
 'Q1421B_03',
 'Q1421B_05',
 'Q710_03  ',
 'Q831B_01',
 'Q881B_02',
 'T',
 'V343C'}

In [438]:
# build the mapping rename columns 
map_dict = {'Q1314B_01': 'Q1314B_1',
            'Q1314B_02': 'Q1314B_2',
            'Q450 - Q453': 'Q453',
            'Q710_03  ': 'Q710_03',
            'Q881B_01': 'Q881B_1',
            'Q881B_01':'Q881B_1',
            'Q881B_02':'Q881B_2',
            'Q831B_01': 'Q831B_1',
            '400A_01': 'Q400A_01',
             '400A_02': 'Q400A_02',
             '400A_03':  'Q400A_03',
             '400A_04': 'Q400A_04',
             '400A_08':  'Q400A_08',
             '400A_09':  'Q400A_09',
             'Q1314B_01': 'Q1314B_1',
            'Q1314B_02': 'Q1314B_2',
             'Q1314B_03': 'Q1314B_3',
            'Q881B_01': 'Q881B_1',
            'Q881B_02': 'Q881B_2',
            'Q1421B_03':'Q1421B_3',
            'Q1421B_05': 'Q1421B_5',
            'Q1314B_03': 'Q1314B_3',
            
                        
           
           }

In [439]:
# renames columns
df_var_name.SAS_VAR_NAME =df_var_name.SAS_VAR_NAME.replace(map_dict)
df_var_name.head()

,GLOBAL_VAR_NAME,VAR_NAME,SAS_VAR_NAME,CAT_ID,CAT_DESC,Conditions,Ranking,Castelline,Morgan,Sylvie,Notes,Unnamed: 11,Unnamed: 12
0,Number of facitilies,Facility identification,FACIL,1,Capacity,NaN,Top-Tier,Top-Tier,Mid-Tier,Top-Tier,"Raw counts/per 10,000 population/counts by lan...",NaN,NaN
1,"Number of generalists, full-time",MEDECINS GENERALISTES,Q400A_01,1,Capacity,NaN,Top-Tier,Top-Tier,Mid-Tier,Top-Tier,NaN,NaN,NaN
2,"Number of specialists, full-time",MEDECINS SPECIALISTES,Q400A_02,1,Capacity,NaN,NaN,Mid-Tier,Low-Tier,Mid-Tier,NaN,NaN,NaN
3,"Number of lab technicians, full-time",TECHNICIEN DE LABORATOIRE,Q400A_03,1,Capacity,NaN,Top-Tier,Mid-Tier,Low-Tier,Top-Tier,Existence of at least 1 lab technician; Count ...,Deeper Dive,NaN
4,"Number of lab assistants, full-time",AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE),Q400A_04,1,Capacity,NaN,Top-Tier,Low-Tier,Low-Tier,Mid-Tier,NaN,NaN,NaN

In [440]:
filter = ['Q710_03  ',
'Q710_08',
'Q710_01',
'Q710_02',
'Q700B_06',
'Q1210B_03',
'Q1622B_09',
'Q1622B_10',
'Q2331B_06',
'Q1622B_12',
'Q700B_07',
'Q1210B_04',
'Q1314B_3',
'Q1421B_3',
'Q1421B_5',
'Q1622B_12',
'Q1622B_14',
'Q2331B_07',
'Q881B_01',
'Q881B_02',
'Q880',
'Q700B_17',
'Q700B_18',
'Q700B_19',
'Q450',
'Q451',
'Q453',
'Q452',
]

In [441]:
# display the differences
columns_need = list(set(df_var_name.SAS_VAR_NAME))
colunms_selected = [x for x in colums if x in columns_need]
set(columns_need) -set(colunms_selected)

{'Q1322B', 'Q1322D', 'T', 'V343C'}

In [442]:
# selects columns needed before computation
spa_df_final = spa_df[['DEPARTN']+sorted(colunms_selected+['Q1322'])]

In [443]:
# displays coloumns needed
spa_df_final.head()

,DEPARTN,FACIL,Q110,Q112,Q1210B_03,Q1210B_04,Q1314B_1,Q1314B_2,Q1314B_3,Q1322,...,Q710_07,Q710_08,Q710_10,Q710_11,Q710_12,Q830,Q831B_1,Q832,Q880,Q881B_2
0,Ouest,1,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,1.0,3.0,3.0,3.0,3.0,1.0,1.0,2.0,2.0,NaN
1,Ouest,2,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,2.0,NaN,2.0,2.0,NaN
2,Ouest,3,1.0,201.0,1.0,1.0,NaN,NaN,NaN,NaN,...,1.0,3.0,3.0,1.0,3.0,1.0,NaN,1.0,1.0,1.0
3,Ouest,4,2.0,7.0,2.0,2.0,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,1.0,1.0,1.0,2.0,NaN
4,Ouest,5,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,1.0,1.0,1.0,3.0,1.0,NaN,2.0,2.0,NaN

In [444]:
# convert columns to index
cols =  list(set(spa_df_final.columns))

In [445]:
# displays the cardinality of each column to understand values
my_dict =dict(var_name =[],sas_var_name =[] ,values_range=[])
for col in sorted(cols):
    val = df_var_name[df_var_name.SAS_VAR_NAME ==col]
    if(len(val) >0):
        my_dict['var_name'].append(val['VAR_NAME'].values[0])
        my_dict['sas_var_name'].append(col)
        my_dict['values_range'].append(sorted(spa_df_final[col].unique()))
        
        
df_review = pd.DataFrame(my_dict)
df_review['Aggfuc'] = np.nan

In [446]:
# shows top 5 rows
df_review.head()

,var_name,sas_var_name,values_range,Aggfuc
0,Facility identification,FACIL,"[1, 2, 3, 4, 5, 6, 8, 9, 12, 13, 15, 18, 19, 2...",NaN
1,Routine in-patient care or Overnight observation,Q110,"[1.0, 2.0, nan]",NaN
2,Number of overnight/in-patient beds,Q112,"[nan, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",NaN
3,Sick child exam other equip:Thermometer,Q1210B_03,"[1.0, nan, 2.0]",NaN
4,Sick child exam other equip:Stethoscope,Q1210B_04,"[1.0, nan, 2.0]",NaN

In [447]:
# saves the datset for review
df_review.to_csv('review.csv')

In [448]:
# selectd yes/no columns
yes_no_col = ['Q110',
'Q1210B_03',
'Q1210B_04',
'Q1421B_3',
'Q1421B_5',
'Q1622B_09',
'Q1622B_10',
'Q1622B_12',
'Q1622B_14',
'Q2331B_06',
'Q2331B_07',
'Q310',
'Q313',
'Q316',
'Q340',
'Q451',
'Q501B_04',
'Q503',
'Q607',
'Q700B_06',
'Q700B_07',
'Q700B_17',
'Q700B_19',
'Q830',
'Q832',
'Q880',


]
yes_no_col1 = [col for col in yes_no_col if col not in filter ]
set(yes_no_col)- set(yes_no_col1)

{'Q1210B_03',
 'Q1210B_04',
 'Q1421B_3',
 'Q1421B_5',
 'Q1622B_09',
 'Q1622B_10',
 'Q1622B_12',
 'Q1622B_14',
 'Q2331B_06',
 'Q2331B_07',
 'Q451',
 'Q700B_06',
 'Q700B_07',
 'Q700B_17',
 'Q700B_19',
 'Q880'}

In [449]:
# selects numerical columns
col_num = ['Q110','Q112','Q1314B_1','Q1314B_2',
           'Q1622B_09','Q1622B_12','Q310','Q313','Q316',
           'Q331','Q340','Q400AT','Q400A_01','Q400A_02',
           'Q400A_03','Q400A_08','Q400A_09','Q400A_12','Q400A_04','Q453']
col_num1=[col for col in col_num if col not in filter ]
set(col_num) - set(col_num1)

{'Q1622B_09', 'Q1622B_12', 'Q453'}

In [450]:
# selects 1/2/3 answers columns
col_1_2_3 =['Q1314B_1',
'Q1314B_2',
'Q1314B_3',
'Q331',
'Q450',
'Q452',
'Q710_01',
'Q710_02',
'Q710_03',
'Q710_06',
'Q710_07',
'Q710_08',
'Q710_10',
'Q710_11',
'Q710_12',
'Q831B_1',
'Q881B_1',
'Q881B_2',
'Q700B_18'
]

col_1_2_3_=[col for col in col_1_2_3 if col not in filter ]
set(col_1_2_3) - set(col_1_2_3_)

{'Q1314B_3', 'Q450', 'Q452', 'Q700B_18', 'Q710_01', 'Q710_02', 'Q710_08'}

In [451]:
# save non patterns colunms
auter_colunms = set(cols) -set(col_1_2_3_ + yes_no_col1 +col_num1)

In [452]:
auter_colunms

{'DEPARTN',
 'FACIL',
 'Q1210B_03',
 'Q1210B_04',
 'Q1314B_3',
 'Q1322',
 'Q1421B_3',
 'Q1421B_5',
 'Q1622B_09',
 'Q1622B_10',
 'Q1622B_12',
 'Q1622B_14',
 'Q2331B_06',
 'Q2331B_07',
 'Q450',
 'Q451',
 'Q452',
 'Q453',
 'Q600',
 'Q601',
 'Q620',
 'Q700B_06',
 'Q700B_07',
 'Q700B_17',
 'Q700B_18',
 'Q700B_19',
 'Q710_01',
 'Q710_02',
 'Q710_08',
 'Q880'}

In [453]:
# create the dict
map_columns = dict(sas_column_name =[],values=[])

In [454]:
# computes aggreation

In [455]:
map_dict = dict(SAS_VAR_NAME =[],departn = [],values =[])
for col in yes_no_col1:
    val = spa_df_final[spa_df_final[col] ==1.0][[col,'DEPARTN','FACIL']]
    val[col]= col
    val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
    val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
    map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
    map_dict['departn'] += list(val['DEPARTN'])
    map_dict['values'] += list(val['count'])

In [456]:
for col in col_num1:
    val = spa_df_final[[col,'DEPARTN']]
    val['SAS_VAR_NAME']= col
    val.rename(columns = {col: 'num'},inplace =True)
    val=val.groupby(['SAS_VAR_NAME','DEPARTN'])['num'].sum().to_frame().reset_index().rename(columns={0:'count'})
    map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
    map_dict['departn'] += list(val['DEPARTN'])
    map_dict['values'] += list(val['num'])

In [457]:
for col in col_1_2_3_:
    val = spa_df_final[spa_df_final[col].isin([1.0])][[col,'DEPARTN','FACIL']]
    val[col]= col
    val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
    val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
    map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
    map_dict['departn'] += list(val['DEPARTN'])
    map_dict['values'] += list(val['count'])

KeyError: 'Q881B_1'

In [ ]:
col ='FACIL'
val = spa_df_final[['DEPARTN','FACIL']]
val['SAS_VAR_NAME']= col
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])

In [ ]:


col ='Q600'
val = spa_df_final[spa_df_final[col].isin([2.0,3.0])][[col,'DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])

In [ ]:
col ='Q601'
val = spa_df_final[spa_df_final[col].isin([2.0,3.0])][[col,'DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])

In [ ]:
col = 'Q620'
val = spa_df_final[spa_df_final[col] !=61.0][[col,'DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])

In [ ]:
col = 'Q1322'
val = spa_df_final[spa_df_final[col] =='D'][['DEPARTN','FACIL']]
col += 'D'
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

In [ ]:
col = 'Q1322'
val = spa_df_final[spa_df_final[col] =='B'][['DEPARTN','FACIL']]
col += 'B'
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

In [464]:
## Oxygen-filled oxygen cylinders
#Q700B_17
#Q700B_18
#Q700B_19
col = 'Q700B_17'
val = spa_df_final[(spa_df_final[col] ==1.0)|(spa_df_final['Q700B_18'] ==1.0)|(spa_df_final['Q700B_19'] ==1.0)][['DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

  SAS_VAR_NAME     DEPARTN  count
0     Q700B_17  Artibonite     13
1     Q700B_17      Centre     11
2     Q700B_17  Grand'Anse      6
3     Q700B_17      Nippes      6
4     Q700B_17        Nord     20
5     Q700B_17    Nord-Est     10
6     Q700B_17  Nord-Ouest     10
7     Q700B_17       Ouest     80
8     Q700B_17         Sud     18
9     Q700B_17     Sud-Est     14

In [465]:
## Referral capacity-functional ambulance at facility*
#Q450
#Q451
#Q452
#Q453

col = 'Q450'
val = spa_df_final[((spa_df_final[col] ==1.0)&(spa_df_final['Q451'] ==1.0)&(spa_df_final['Q453'] ==1.0)) |(spa_df_final['Q452'] ==1.0)][['DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

  SAS_VAR_NAME     DEPARTN  count
0         Q450  Artibonite     30
1         Q450      Centre     16
2         Q450  Grand'Anse     17
3         Q450      Nippes      9
4         Q450        Nord     27
5         Q450    Nord-Est     17
6         Q450  Nord-Ouest     21
7         Q450       Ouest     93
8         Q450         Sud     22
9         Q450     Sud-Est     15

In [466]:
## Soap and running water or else alcohol-based hand disinfectant
#Q710_03  
#Q710_08
#Q710_01
#Q710_02


col = 'Q710_03'
val = spa_df_final[((spa_df_final[col] ==1.0 )| (spa_df_final['Q710_08'] ==1.0))|((spa_df_final['Q710_01'] ==1.0 )& (spa_df_final['Q710_02'] ==1.0))][['DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

  SAS_VAR_NAME     DEPARTN  count
0      Q710_03  Artibonite    106
1      Q710_03      Centre     42
2      Q710_03  Grand'Anse     49
3      Q710_03      Nippes     33
4      Q710_03        Nord     91
5      Q710_03    Nord-Est     40
6      Q710_03  Nord-Ouest     81
7      Q710_03       Ouest    306
8      Q710_03         Sud     74
9      Q710_03     Sud-Est     63

In [467]:
## Stethoscope

"""

Q1622B_12
Q700B_07
Q1210B_04
Q1314B_03
Q1421B_03
Q1421B_05
Q1622B_12
Q1622B_14
Q2331B_07

"""


col = 'Q1622B_12'
val = spa_df_final[(spa_df_final[col] ==1.0 )| (spa_df_final['Q700B_07'] ==1.0) |(spa_df_final['Q1210B_04'] ==1.0)|(spa_df_final['Q1421B_3'] ==1.0)|(spa_df_final['Q1421B_3'] ==1.0)|(spa_df_final['Q1421B_5'] ==1.0)|(spa_df_final['Q1622B_12'] ==1.0)|(spa_df_final['Q1622B_14'] ==1.0)|(spa_df_final['Q2331B_07'] ==1.0)][['DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

  SAS_VAR_NAME     DEPARTN  count
0    Q1622B_12  Artibonite    120
1    Q1622B_12      Centre     52
2    Q1622B_12  Grand'Anse     50
3    Q1622B_12      Nippes     34
4    Q1622B_12        Nord    107
5    Q1622B_12    Nord-Est     40
6    Q1622B_12  Nord-Ouest     84
7    Q1622B_12       Ouest    362
8    Q1622B_12         Sud     78
9    Q1622B_12     Sud-Est     67

In [472]:
"""
Thermometer

Q700B_06
Q1210B_03
Q1622B_09
Q1622B_10
Q2331B_06


"""


col = 'Q700B_06'
val = spa_df_final[(spa_df_final[col] ==1.0 )| (spa_df_final['Q1210B_03'] ==1.0) |(spa_df_final['Q1210B_03'] ==1.0)|(spa_df_final['Q1622B_10'] ==1.0)|(spa_df_final['Q2331B_06'] ==1.0)][['DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

  SAS_VAR_NAME     DEPARTN  count
0     Q700B_06  Artibonite    111
1     Q700B_06      Centre     50
2     Q700B_06  Grand'Anse     48
3     Q700B_06      Nippes     34
4     Q700B_06        Nord    105
5     Q700B_06    Nord-Est     39
6     Q700B_06  Nord-Ouest     83
7     Q700B_06       Ouest    351
8     Q700B_06         Sud     79
9     Q700B_06     Sud-Est     65

In [ ]:
"""
X ray machine*
Q881B_01
Q881B_02
Q880

"""
col = 'Q881B_01'
val = spa_df_final[(spa_df_final[col] ==1.0 )| (spa_df_final['Q881B_02'] ==1.0) |(spa_df_final['Q880'] ==1.0)][['DEPARTN','FACIL']]
val[col]= col
val.rename(columns = {col: 'SAS_VAR_NAME'},inplace =True)
val=val.groupby(['SAS_VAR_NAME','DEPARTN']).size().to_frame().reset_index().rename(columns={0:'count'})
map_dict['SAS_VAR_NAME'] += list(val['SAS_VAR_NAME'])
map_dict['departn'] += list(val['DEPARTN'])
map_dict['values'] += list(val['count'])
val

In [468]:
df =pd.DataFrame(map_dict)
df.head()

  SAS_VAR_NAME     departn  values
0         Q110  Artibonite    24.0
1         Q110      Centre    13.0
2         Q110  Grand'Anse     9.0
3         Q110      Nippes     9.0
4         Q110        Nord    31.0

In [469]:
df = pd.merge(df_var_name,df,how='inner',on ='SAS_VAR_NAME')
df = df[df['Ranking'] == 'Top-Tier']

In [470]:
df2=pd.pivot_table(df,index =['CAT_DESC','GLOBAL_VAR_NAME' ,'VAR_NAME'],columns='departn',values ='values', aggfunc = np.sum,fill_value =0)

In [471]:
df2

                              Medical masks                                             28

departn                                                                                                                             Nippes  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                               35
                               Number of generalists, full-time                   MEDECINS GENERALISTES                                 48
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)             5
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                             41
                               Number of nurses, full-time                        INFERMIER                                             82
                               Number of pharmacist, full-time                    PHARMACIEN                                             5
                               Total full-time staff                              TOTAL FULL-TIME STAFF                                423
Diagnostic Capacity            Stethoscope                                        Other equip:Stethoscope                               34
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                      32
                               Improved water source                              Water onsite/within 500 meters                        37
                               Regular electricity                                Facility connected to central supply electricity      68
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                                53
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation      68
                               Number of hospital beds                            Number of overnight/in-patient beds                  149
                               Oxygen-filled oxygen cylinders                     Oxygen concentrators available and functioning         6
                               Referral capacity-functional ambulance at facil... Functional ambulance at facility                       9
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                            33
                               Medical Masks                                      Medical masks                                         24

departn                                                                                                                             Nord  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                            108
                               Number of generalists, full-time                   MEDECINS GENERALISTES                              192
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)          15
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                          234
                               Number of nurses, full-time                        INFERMIER                                          575
                               Number of pharmacist, full-time                    PHARMACIEN                                          23
                               Total full-time staff                              TOTAL FULL-TIME STAFF                             2045
Diagnostic Capacity            Stethoscope                                        Other equip:Stethoscope                            107
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                    83
                               Improved water source                              Water onsite/within 500 meters                     174
                               Regular electricity                                Facility connected to central supply electricity   214
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                             156
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation   214
                               Number of hospital beds                            Number of overnight/in-patient beds                933
                               Oxygen-filled oxygen cylinders                     Oxygen concentrators available and functioning      20
                               Referral capacity-functional ambulance at facil... Functional ambulance at facility                    27
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                          97
                               Medical Masks                                      Medical masks                                       61

departn                                                                                                                             Nord-Est  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                                 41
                               Number of generalists, full-time                   MEDECINS GENERALISTES                                   59
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)               3
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                               55
                               Number of nurses, full-time                        INFERMIER                                              148
                               Number of pharmacist, full-time                    PHARMACIEN                                               4
                               Total full-time staff                              TOTAL FULL-TIME STAFF                                  745
Diagnostic Capacity            Stethoscope                                        Other equip:Stethoscope                                 40
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                        36
                               Improved water source                              Water onsite/within 500 meters                          60
                               Regular electricity                                Facility connected to central supply electricity        82
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                                  66
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation        82
                               Number of hospital beds                            Number of overnight/in-patient beds                    208
                               Oxygen-filled oxygen cylinders                     Oxygen concentrators available and functioning          10
                               Referral capacity-functional ambulance at facil... Functional ambulance at facility                        17
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                              39
                               Medical Masks                                      Medical masks                                           27

departn                                                                                                                             Nord-Ouest  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                                   87
                               Number of generalists, full-time                   MEDECINS GENERALISTES                                     43
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)                 7
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                                 84
                               Number of nurses, full-time                        INFERMIER                                                177
                               Number of pharmacist, full-time                    PHARMACIEN                                                 5
                               Total full-time staff                              TOTAL FULL-TIME STAFF                                   1051
Diagnostic Capacity            Stethoscope                                        Other equip:Stethoscope                                   84
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                          77
                               Improved water source                              Water onsite/within 500 meters                           127
                               Regular electricity                                Facility connected to central supply electricity         168
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                                   121
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation         168
                               Number of hospital beds                            Number of overnight/in-patient beds                      422
                               Oxygen-filled oxygen cylinders                     Oxygen concentrators available and functioning            10
                               Referral capacity-functional ambulance at facil... Functional ambulance at facility                          21
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                                77
                               Medical Masks                                      Medical masks                                             39

departn                                                                                                                             Ouest  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                             380
                               Number of generalists, full-time                   MEDECINS GENERALISTES                               805
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)           65
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                           908
                               Number of nurses, full-time                        INFERMIER                                          2150
                               Number of pharmacist, full-time                    PHARMACIEN                                          180
                               Total full-time staff                              TOTAL FULL-TIME STAFF                              8623
Diagnostic Capacity            Stethoscope                                        Other equip:Stethoscope                             362
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                    260
                               Improved water source                              Water onsite/within 500 meters                      427
                               Regular electricity                                Facility connected to central supply electricity    732
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                              474
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation    732
                               Number of hospital beds                            Number of overnight/in-patient beds                3819
                               Oxygen-filled oxygen cylinders                     Oxygen concentrators available and functioning       80
                               Referral capacity-functional ambulance at facil... Functional ambulance at facility                     93
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                          296
                               Medical Masks                                      Medical masks                                       148

departn                                                                                                                              Sud  \
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                             80
                               Number of generalists, full-time                   MEDECINS GENERALISTES                              127
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)           7
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                          158
                               Number of nurses, full-time                        INFERMIER                                          418
                               Number of pharmacist, full-time                    PHARMACIEN                                          15
                               Total full-time staff                              TOTAL FULL-TIME STAFF                             1572
Diagnostic Capacity            Stethoscope                                        Other equip:Stethoscope                             78
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                    60
                               Improved water source                              Water onsite/within 500 meters                     113
                               Regular electricity                                Facility connected to central supply electricity   158
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                             127
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation   158
                               Number of hospital beds                            Number of overnight/in-patient beds                704
                               Oxygen-filled oxygen cylinders                     Oxygen concentrators available and functioning      18
                               Referral capacity-functional ambulance at facil... Functional ambulance at facility                    22
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                          68
                               Medical Masks                                      Medical masks                                       40

departn                                                                                                                             Sud-Est
CAT_DESC                       GLOBAL_VAR_NAME                                    VAR_NAME
Capacity                       Number of facitilies                               Facility identification                                70
                               Number of generalists, full-time                   MEDECINS GENERALISTES                                  76
                               Number of lab assistants, full-time                AUXILIAIRE DE LABORATOIRE (Y COMPRIS AIDE)              8
                               Number of lab technicians, full-time               TECHNICIEN DE LABORATOIRE                              48
                               Number of nurses, full-time                        INFERMIER                                             198
                               Number of pharmacist, full-time                    PHARMACIEN                                              6
                               Total full-time staff                              TOTAL FULL-TIME STAFF                                 732
Diagnostic Capacity            Stethoscope                                        Other equip:Stethoscope                                67
Infection Prevention           Appropriate storage of sharp waste                 Sharps container                                       61
                               Improved water source                              Water onsite/within 500 meters                        104
                               Regular electricity                                Facility connected to central supply electricity      138
                               Soap and running water or else alcohol-based ha... Alcohol based hand rub                                109
Inpatient care                 Inpatient care                                     Routine in-patient care or Overnight observation      138
                               Number of hospital beds                            Number of overnight/in-patient beds                   283
                               Oxygen-filled oxygen cylinders                     Oxygen concentrators available and functioning         14
                               Referral capacity-functional ambulance at facil... Functional ambulance at facility                       15
Personal Protective Equipment  Latex Gloves                                       Clean/sterile latex gloves                             65
                               Medical Masks                                      Medical masks                                          31

In [418]:
df2.to_excel('outputs/COVID_19_RISK_ASSESSMENT3.xlsx')